.icon-cmp{background:url("") no-repeat center center;}
.icon-plugin{background:url("") no-repeat center center;}
.icon-blank{background:url("") no-repeat center center;}
.icon-add{background:url("") no-repeat center center;}
.icon-edit{background:url("") no-repeat center center;}
.icon-remove{background:url("") no-repeat center center;}
.icon-save{background:url("") no-repeat center center;}
.icon-cut{background:url("") no-repeat center center;}
.icon-ok{background:url("") no-repeat center center;}
.icon-no{background:url("") no-repeat center center;}
.icon-cancel{background:url("") no-repeat center center;}
.icon-reload{background:url("") no-repeat center center;}
.icon-search{background:url("") no-repeat center center;}
.icon-print{background:url("") no-repeat center center;}
.icon-help{background:url("") no-repeat center center;}
.icon-undo{background:url("") no-repeat center center;}
.icon-redo{background:url("") no-repeat center center;}
.icon-back{background:url("") no-repeat center center;}
.icon-sum{background:url("") no-repeat center center;}
.icon-tip{background:url("") no-repeat center center;}
.icon-filter{background:url("") no-repeat center center;}
.icon-down{background:url("") no-repeat center center;}
.icon-up{background:url("") no-repeat center center;}
.icon-config{background:url("") no-repeat center center;}
.icon-class{background:url("") no-repeat center center;}
.icon-flow{background:url("") no-repeat center center;}
.icon-form{background:url("") no-repeat center center;}
.icon-pkg{background:url("") no-repeat center center;}
.icon-userbtn{background:url("") no-repeat center center;}
.icon-user{background:url("") no-repeat center center;}
.icon-onuser{background:url("") no-repeat center center;}
.icon-usergreen{background:url("") no-repeat center center;}
.icon-userjob{background:url("") no-repeat center center;}
.icon-mail{background:url("") no-repeat center center;}
.icon-grid{background:url("") no-repeat center center;}
.icon-copy{background:url("") no-repeat center center;}
.icon-task{background:url("") no-repeat center center;}
.icon-rss{background:url("") no-repeat center center;}
.icon-method{background:url("") no-repeat center center;}
.icon-log{background:url("") no-repeat center center;}
.icon-data{background:url("") no-repeat center center;}
.icon-event{background:url("") no-repeat center center;}
.icon-erinfo{background:url("") no-repeat center center;}
.icon-home{background:url("") no-repeat center center;}
.icon-menu{background:url("") no-repeat center center;}
.icon-xls{background:url("") no-repeat center center;}
.icon-word{background:url("") no-repeat center center;}
.icon-fav{background:url("") no-repeat center center;}

.icon-mini-add{background:url("") no-repeat center center;}
.icon-mini-edit{background:url("") no-repeat center center;}
.icon-mini-refresh{background:url("") no-repeat center center;}
.icon-field{background:url("") no-repeat center center;}
.icon-form{background:url("") no-repeat center center;}
.icon-formitem{background:url("") no-repeat center center;}

